<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pageNo</key>
	<string>STOrderDetail</string>
	<key>modules</key>
	<array>
		<dict>
			<key>area</key>
			<string>view</string>
			<key>moduleNO</key>
			<string>A001</string>
			<key>nikName</key>
			<string>orderDetailView</string>
			<key>layoutPath</key>
			<string>@STOrderDetail.xml</string>
			<key>moduleClass</key>
			<string>STOrderDetailView</string>
			<key>loadMsg</key>
			<string></string>
			<key>hud</key>
			<string></string>
			<key>settings</key>
			<dict>
				<key>compoSetting</key>
				<dict>
					<key>cellLayout</key>
					<string>@STOrderListCell.xml</string>
					<key>cellHeight</key>
					<string>140</string>
				</dict>
				<key>pluginsSetting</key>
				<dict>
					<key>tableView</key>
					<dict>
						<key>pullTopClass</key>
						<string>XCCPullTopView</string>
						<key>pullDownClass</key>
						<string></string>
						<key>topHide</key>
						<string></string>
						<key>downHide</key>
						<string></string>
					</dict>
				</dict>
				<key>viewSetting</key>
				<dict>
					<key>views</key>
					<dict>
						<key>list</key>
						<dict>
							<key>modelid</key>
							<string>jkl_user_0003</string>
							<key>datafilename</key>
							<string>@STOrderListViewData.json</string>
							<key>proxyClass</key>
							<string>XCDataBlockProxy</string>
							<key>dataOperation</key>
							<string></string>
							<key>dataParse</key>
							<string></string>
							<key>blocks</key>
							<dict>
								<key>tableView</key>
								<dict>
									<key>tablename</key>
									<string>order_list</string>
								</dict>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
