<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>runMode</key>
	<string>OLD</string>
	<key>logConf</key>
	<dict>
		<key>logMode</key>
		<string>DEV</string>
	</dict>
	<key>routeConf</key>
	<dict>
		<key>roles</key>
		<dict>
			<key>server</key>
			<string>VTNetWorkRoute</string>
			<key>plug</key>
			<string>VTPlugRoute</string>
		</dict>
		<key>routes</key>
		<array>
			<string>VTDBRoute</string>
			<string>VTUIRoute</string>
			<string>VTDataChannelRoute</string>
			<string>VTNetWorkRoute</string>
			<string>VTPlugRoute</string>
		</array>
	</dict>
	<key>netWorkConf</key>
	<dict>
		<key>iceConf</key>
		<dict>
			<key>0</key>
			<dict>
				<key>client_server</key>
				<string>192.168.40.252:9999</string>
				<key>client_router</key>
				<string>192.168.40.252:9527</string>
				<key>client_lan</key>
				<string>1</string>
				<key>messageSizeMax</key>
				<string>1024</string>
				<key>resendTimes</key>
				<string>1</string>
				<key>ice_encoding_version_major</key>
				<string>1</string>
				<key>ice_encoding_version_minor</key>
				<string>0</string>
			</dict>
		</dict>
	</dict>
	<key>plugConf</key>
	<dict>
		<key>localPlug</key>
		<array>
			<dict>
				<key>appName</key>
				<string>VTQrcode</string>
				<key>messageTypes</key>
				<array>
					<string>VTQrcodeScanQrcodeByCamera</string>
				</array>
				<key>appID</key>
				<string>0001</string>
				<key>appVersion</key>
				<string>1.0</string>
				<key>channelID</key>
				<string>0</string>
				<key>systemCompatibility</key>
				<string>1</string>
				<key>frameCompatibility</key>
				<string>1</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
